@import './icons/icons';

* {
  outline-offset: -2px;
  outline-color: var(--outline-color);
  transition: outline-offset 200ms;
  outline-width: 0;

  &:focus-visible {
    outline-offset: var(--outline-offset);
    outline-width: var(--outline-width);
  }
}

// html,
// body {
//   height: 100%;
//   overflow-y: scroll;
// }
